{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'config.js' %}"></script>
<script src="{% static 'chart.js' %}"></script>

<div class="row">
    <div class="col-12 text-bg-dark rounded-4 p-2 text-center mt-2">
        <h1 class="text-center text-info">Informações do Arquivo Carregado</h1>

        <label>Nome do arquivo: <strong class="text-info">{{arquivo}}</strong></label> <br>
        <label>Caminho do arquivo: <strong class="text-info">{{caminho}}</strong></label> <br>
        <label>Número de Linhas: <strong class="text-info">{{linhas}}</strong></label> <br>
        <label>Número de Colunas: <strong class="text-info">{{colunas|length}}</strong></label><br>
    </div>
</div>
<div class="row mt-2">

    <div class="col-12 text-bg-dark rounded-4 p-2 text-center">

        <h1 class="text-info">Operações</h1>
        <input type="radio" class="btn-check" name="options-outlined" id="radiocontar" autocomplete="off"
            value="contar">
        <label class="btn btn-outline-info" for="radiocontar">Contar</label>

        <input type="radio" class="btn-check" name="options-outlined" id="radiosomar" autocomplete="off" value="somar">
        <label class="btn btn-outline-info" for="radiosomar">Somar</label>

        <input type="radio" class="btn-check" name="options-outlined" id="radiomedia" autocomplete="off" value="media">
        <label class="btn btn-outline-info" for="radiomedia">Média</label>

        <input type="radio" class="btn-check" name="options-outlined" id="radiodesvio" autocomplete="off"
            value="desvio">
        <label class="btn btn-outline-info" for="radiodesvio">Desvio</label>

        <div class="justify-content-end mt-2">
            <button type="button" class="btn btn-warning btn-lg" name="btnaplicar" id="btnaplicar">Aplicar
            </button>
        </div>

    </div>
</div>
<script type="text/javascript">
    var ls_tipos = [];
</script>

<div class="row">
    <div class="col-12">
        <form name="form" id="form" method="get" role="form">
            {% csrf_token %}
            <div class="table-responsive">
                <table class="table table-hover table-dark mt-2">
                    <tr>
                        <th>Colunas</th>
                        <th>Parâmetro</th>
                        <th>Comparador</th>
                        <th>Tipo</th>
                        <th>Agrupar</th>
                    </tr>
                    {% for c,t in colunas.items %}
                    <tr>
                        <td>
                            <input type="checkbox" class="btn-check coluna" autocomplete="off" name="{{c}}" id="{{c}}"
                                value="{{c}}">
                            <label class="btn btn-outline-secondary" for="{{c}}">{{c}}</label><br>

                        </td>
                        <td>
                             <input type="text" class="parametro" id="param{{c}}" name="param{{c}}" size=10 maxlength=30
                                disabled>
                        </td>
                        <td>
                            <select id="comparador{{c}}" class="comparador" disabled>
                                <option value=""></option>
                                <option value="==">==</option>
                                <option value="!=">!=</option>
                                {% if t == 'int64' or t == 'float64' %}
                                <option value="&gt;">&gt;</option>
                                <option value="&lt;">&lt;</option>
                                <option value="&gt;=">&ge;</option>
                                <option value="&lt;=">&le;</option>
                                {%endif%}


                            </select>
                        </td>
                        <td>
                            <option value="" selected>{{t}}</option>
                        </td>

                        <td>
                            <input type="checkbox" class="btn-check agrupa" autocomplete="off" name="ag{{c}}"
                                id="ag{{c}}" value="{{c}}" disabled>
                            <label class="btn btn-outline-secondary" for="ag{{c}}">{{c}}</label><br>
                        </td>

                    </tr>
                    <script type="text/javascript">
                        ls_tipos.push("{{t}}");

                    </script>
                    {% endfor %}

                </table>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div>
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>


<script type="text/javascript">
    console.log(ls_tipos)
    const agrupa = document.getElementsByClassName("agrupa");
    var ls_agrupa = [];
    for (let i = 0; i < agrupa.length; i++) {
        agrupa[i].addEventListener('change', function () {
            if (agrupa[i].checked) {
                agrupa[i].checked = true;

                ls_agrupa.push(agrupa[i].value)

            }
            else {
                agrupa[i].checked = false;
                let pos = ls_agrupa.indexOf(agrupa[i].value)
                console.log(pos);
                ls_agrupa.splice(pos, 1);
            }
           console.log(ls_agrupa);
        });
    }
    
    //Definindo parâmetros...16/04/2023
    // ls_col = selecionarColunas();
    var ls_col = [];
    const selcol = document.getElementsByClassName("coluna");
    for (let i = 0; i < selcol.length; i++) {
        selcol[i].addEventListener('change', function () {
            if (selcol[i].checked) {
                selcol[i].checked = true;


                $("#param" + selcol[i].value).attr('disabled', false);
                $("#ag" + selcol[i].value).attr('disabled', false);
                $("#comparador" + selcol[i].value).attr('disabled',false);
                ls_col.push(selcol[i].value)

            }
            else {

                // $("#param" + selcol[i]).value = ' ';

                var e = document.getElementById("param" + selcol[i].value);
                e.value = "";

                $("#param" + selcol[i].value).attr('disabled', true);
                $("#ag" + selcol[i].value).prop('checked', false);
                $("#ag" + selcol[i].value).attr('disabled', true);

                // Comparadores
                $("#comparador" + selcol[i].value).attr('disabled',true);
                var e = document.getElementById("comparador" + selcol[i].value);
                e.value = "";

                selcol[i].checked = false;
                let pos = ls_col.indexOf(selcol[i].value)
                let posAgrupa = ls_agrupa.indexOf(selcol[i].value)
                console.log(pos);
                ls_col.splice(pos, 1);
                ls_agrupa.splice(posAgrupa, 1);
                // console.log("uncheck");
            }
            console.log(ls_col);
        });
        
    }

    // const selop = document.getElementsByClassName("operacao");
    const selop = document.getElementById("selectoperacao");

    let op = "";
    // selop.addEventListener('change', () => {
    //     op = selop.value;
    // })

    //radio buttons
    document.getElementById("radiomedia").addEventListener('change', () => {
        op = "media"
    })
    document.getElementById("radiocontar").addEventListener('change', () => {
        op = "contar"
    })
    document.getElementById("radiosomar").addEventListener('change', () => {
        op = "somar"
    })
    document.getElementById("radiodesvio").addEventListener('change', () => {
        op = "desvio"
    })

    //***** pensando nos parâmetros

    var ls_param = [];
    var ls_col_param = [];
    var ls_comparadores = [];
    //Na ordem que aparece 
    document.getElementById('btnaplicar').addEventListener('click', function () {
        ls_param = [];
        ls_col_param = [];
        ls_comparadores = [];
        cols_comparador = document.getElementsByClassName("comparador");
        cols_param = document.getElementsByClassName('parametro');
        for (let i = 0; i < cols_param.length; i++) {
            if (cols_param[i].getAttribute("disabled") == null) {

                if(ls_tipos[i] == "object"){
                    ls_param.push('"'+cols_param[i].value + '"');
                }
                else {
                    ls_param.push(cols_param[i].value);

                }
                
                ls_col_param.push(selcol[i].value);
                ls_comparadores.push(cols_comparador[i].value);
            }
            else {

            }
        }

    });

    //******


    function sendAjax() {
        $.ajax({
            url: "{% url 'get_tabela' arquivo%}",
            type: "GET",
            data: {
                "ls_agrupar": ls_agrupa,
                "ls_col": ls_col,
                "sel_op": op

            },
            success: (data) => {
                // var listaContinentes = [];
                // var listaQuantidadePaises = [];
                // var objJson = JSON.parse(data);
                $("#tabela").html(data);

                // $("#tabela").html(data);

                // $("#exemplo").html(data);
                $(".dataframe").addClass("table");
                $(".dataframe").addClass("table-bordered");
                $(".dataframe").addClass("centered");
                $(".dataframe").addClass("table-hover");
                $(".dataframe").addClass("table-responsive-sm");
            }
        })
    }

    function visAjax() {
        $.ajax({
            url: "{% url 'get_file' arquivo%}",
            dataType: "json",
            type: "GET",
            data: {
                "ls_agrupar": ls_agrupa,
                "ls_col": ls_col_param,
                "sel_op": op,
                "ls_param": ls_param,
                "ls_comparadores": ls_comparadores


            },
            success: (data) => {
                var listaContinentes = [];
                var listaQuantidadePaises = [];
                var objJson = JSON.parse(data);
                var x = [];
                var y = [];
                for (var [key, value] of Object.entries(objJson)) {
                    for (var [key, value] of Object.entries(value)) {
                        x.push(key);
                        y.push(value);

                    }
                }
                // console.log(x);
                // console.log(y);

                var chartExist = Chart.getChart("myChart");
                if (chartExist != undefined)
                    chartExist.destroy();

                get_chart(x, y);

            }
        })

    }

    $(".coluna").change(() => sendAjax());

    $('#btnaplicar').click(() => visAjax());

</script>



</div>

<h2 class="text-center text-success">Amostra dos Primeiros 30 Registros das Colunas Selecionadas</h2>
<div class="row">

    <div class="col-12">
        <div id="tabela" class="text-bg-light table-responsive">

        </div>

    </div>


    {% endblock content %}