{% extends "base.html" %}

{% block content %}


<h1 class="text-center text-success">Seleção de Arquivo</h1>

<div class="row container">

    <div class="col-12">
        <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}

            <input type="submit" class="btn btn-success mt-2" value="Adicionar Arquivo">
        </form>
    </div>

</div>
<h2 class="text-center text-secondary">Arquivos Salvos</h2>
<div class="row container">

    <div class="col-12">
        <table class="table table-hover">
            {% for arquivo in arquivos %}
            <tr>
                <!-- <td><a href="media/{{arquivo.arquivo}}">{{arquivo.arquivo}}</a></td> -->

                <td><a class="btn btn-info" href="{% url 'get_tabela' arquivo %}">{{arquivo}}</a> : {{ arquivo.arquivo}}</td>
                <td><a class="btn btn-danger" href="{% url 'del_file' arquivo.id %}">X</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>






{% endblock content %}